body {
	background-color: black;
	padding-top: 100px;
}

h1 {
	text-align: center;
	font-family: Bebas;
	font-size: 2.5em; /* 40px/16=2.5em */
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color:#FFC400;
	padding-top: 50px;
}

section {
	text-align: center;
	font-family: Bebas;
	font-size: 1.65em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.4px;
	color: #FFC400;
}

nav {
	text-align: center;
	font-family: Bebas Neue;
	font-size: 1.2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.4px;
	color: #FFC400;
}

form {
	float: center;
    margin: 10px 10px 0px;
	color: #FFC400;
	text-align: center;
}

#type {  
	font-family: Nexa Bold;
	font-size: 1em;
	font-weight: 300;
	line-height: 28px;
}

/*#something is used on id && .something is used on class*/

#send {
	font-family: Nexa Bold;
	font-size: 1em;
	font-weight: 500;
	line-height: 28px;
	padding: 3 15 3 15;
	border:1px #FFC400;
	border-radius: 13
}

content {
	font-family:Bebas Neue;
	font-size: 1.5em;
	color:#FFC400;
	text-align: center;
}

.long {
}

.short {
	margin-top: -25px;
	color: #FFC400;
}