<html>

<link rel="icon" type="image/png" href="//dl6fh5ptkejqa.cloudfront.net/0482a3c938673192a591f2845b9eb275.png">

	<head>
		<title>Shortsy</title>
	</head>

<link rel="stylesheet" type="text/css" href="css/application.css">

<link 

	<body>
		<%= yield %>
	</body>
</html>

